.about h2 {
    background: var(--linear-primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about p{
    opacity: 0.8;
}

@media only screen and (max-width: 720px){
    .about{
        margin-left: 40px;
        margin-right: 40px;
    }
}